&-nav
	height: 50px
	background-color: $subwhite
	border-top: 1px solid $divider
	border-bottom: 1px solid $divider

	+max(736)
		overflow-x: scroll
		overflow-y: hidden


	&-list
		height: 100%
		margin: 0
		padding: 0
		list-style: none
		line-height: 3.9
		+clearfix

		+max(736)
			min-width: 627px

		> .menu-item
			position: relative
			float: left
			height: 100%
			padding: 0 20px
			border-right: 1px solid $divider
			font-family: avenir
			letter-spacing: .4px
			font-weight: 700
			font-size: 14px
			text-transform: uppercase
			box-sizing: border-box
			cursor: pointer

			+max(736)
				&:last-child
					border-right: 0

			>a
				color: $grey

			&.current-menu-item,
			&:hover

				&:after
					content: ''
					position: absolute
					bottom: 0
					left: 0
					width: 100%
					height: 5px
					background-color: $primary
				a
					color: $primary
			

			
			>.sub-menu // Mega menu
				position: absolute
				z-index: 90
				top: 60px
				left: 0
				max-width: 100vw
				width: 925px
				height: 293px
				overflow: scroll
				padding: 10px 6px 0
				background-color: $subwhite
				border-radius: 5px
				border-bottom: 8px solid $primary
				box-shadow: 0px 0px 4px 0px rgba(24, 23, 24, 0.32)
				font-size: 14px
				font-weight: 600
				color: $font
				box-sizing: border-box
				visibility: hidden
				opacity: 0
				transition: all 0.3s

				
				>.menu-item // Category
					position: relative
					float: left
					width: 20%
					height: 50%
					overflow: hidden
					font-family: open sans,helvetica,arial
					text-transform: none
					line-height: 1

					>a // Category Title
						display: block
						margin-bottom: 3px
						padding: 0 5px
						color: $primary
						font-size: 16px
						font-weight: 500
						letter-spacing: 0.2px


					.sub-menu // Sub-category list
						font-size: 12.5px
						font-weight: 400
						line-height: 1.9

						.menu-item
							padding: 0 5px
							box-sizing: border-box
							&:hover
								background-color: darken($subwhite,5)

						a
							color: darken($font,10)
							display: block
							+ellipsis(85%)








