.single-product-content
	height: 100%

	&-images
		height: 100%
		width: 30%

		+max(736)
			float: left
		+max(620)
			float: none

		&-wrap
			height: 100%

		&-thumbs
			display: none


	&-summary
		width: 53%
		height: 100%
		padding: 35px 35px 35px 0
		box-sizing: border-box

		+max(736)
			float: right
			width: 66%
		+max(620)
			float: none
			padding: 35px 25px 0
			width: 100%

		&-actions
			margin-top: 190px
			margin-top: 50px
