.single-product

	&-content
		position: relative
		+clearfix

		@import _parts_single/single-images

		@import _parts_single/single-sale
		
		
		&-summary
			float: right
			width: perc(396px, 786px)

			+max(736)
				float: none
				width: 100%
				max-width: 460px
				+center

			@import _parts_single/single-content-title

			@import _parts_single/single-content-rating

			@import _parts_single/single-content-social

			@import _parts_single/single-content-desc

			@import _parts_single/single-content-actions

			@import _parts_single/single-content-meta


@import _parts_single/single-related

@import _parts_single/single-reviews

