.product-search
	position: relative
	top: -1px
	width: 100%
	height: 100%
	background: $subwhite
	border: 1px solid $divider
	border-radius: 2px
	
	+max(620)
		float: right
		width: 68%

	&-field
		border: 0
		background: transparent
		height: 100%
		font-size: 13px
		padding: 0 10px

	&-submit
		position: absolute
		top: -1px
		right: -1px
		width: 35px
		height: 32px
		border-radius: 0 2px 2px 
		background-color: $primary
		cursor: pointer

		&:after
			content: 'L'
			position: absolute
			left: 0
			right: 0
			+valign
			line-height: 1
			text-align: center
			display: block
			font-family: bwdcons
			font-size: 24px
			color: white
			cursor: pointer
