.header-search-results
	.page-header,
	.navigation
		display: none


.results
	&-item
		margin-bottom: 15px
		+clearfix

		&-img
			float: left
			+size(60)

			+max(520)
				+size(40)
			+max(350)
				+size(37)

			img
				width: 100%
				height: auto

		&-content
			float: left
			margin-left: 10px
			// width: 140px
			width: perc(140px, 210px)

			+max(620)
				width: perc(150px, 210px)
			+max(520)
				width: perc(160px, 210px)

			&-title
				display: block
				+ellipsis(100%)
				font-size: 13px
				color: $font

			&-price
				font-size: 12px
				color: $primary